body{
    background-color:  rgb(13, 25, 43);
position:static;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

   
    padding: 1.25em 2rem 1.25em 2rem;
margin:3rem 1rem 3rem 1rem;
    background-color:  hsl(216, 50%, 16%);
    border-radius: 10px;
}
img{
    width:100%;
    height:auto;
    border-radius: 10px;
}
h1{
    color:#fff;
    background-color:  hsl(216, 50%, 16%);
   
   
}
.para p:nth-child(1){
color: hsl(215, 51%, 70%) ;
    background-color:  hsl(216, 50%, 16%);
    font-size: 20px;
}
.para p:nth-child(2){
   
    background-color:  hsl(216, 50%, 16%);
}
.para p:nth-child(3){
     
    background-color:  hsl(216, 50%, 16%);
}
#four{
    color: hsl(215, 51%, 70%) ;
    background-color:  hsl(216, 50%, 16%);
padding-left: 1em;
}

b{
    
    color: #fff;
    background-color:  hsl(216, 50%, 16%);
    padding-left:.80em;
}
.join{
    display: flex;
    flex-direction: row;
}
.join p:nth-child(1){
   color: hsl(178, 100%, 50%);
}
.join p:nth-child(2){
    color: hsl(215, 51%, 70%) ;
    padding-left:9em;
  
}
.head{
    padding-right: 8em;
    font-size: 12px;
}
.image{
    width: 8%;
    height:30px;
    border-radius: 50px;
    padding-top: 1px;
    margin-top: 0.5em;
   
}
.sec{
    display: flex;
    flex-direction: row;
   border-top:1px solid #fff;
   letter-spacing:1px;
}
     @media(min-width:500px){
.container{
    width:300px;
    display: flex;
    flex-direction: column;
    margin:  100px auto;
}
     }
    